// VARIABLES
$accent-color: #F7F7F7;
// -- (247,247,247)
$dark-background: #252523;
 // -- (37, 37, 35)
 $accent-color-2: #BFBFBF;
 // -- (191,191,191)


body {
	font-size: 62.5%;
	margin: 0px 0px;
	background: url(../assets/dan-watson-4326-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	font-size: 4.7rem;
	font-family: 'Abel', sans-serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
	color: $accent-color;
	padding-top: 25vh

}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	text-align: center;
	color: $accent-color;
	margin: 0 auto;
	margin-bottom: 25px
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;
}


main {
	background: url(../assets/dan-watson-4326-unsplash.jpg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	padding-bottom: 100px;
}

.content {
	background: rgba(37, 37, 35, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px 10px;
	margin: 0 auto;
	max-width: 900px;
	margin-top: 100px;
	border: 1px solid $accent-color-2;
}

.form {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: center;
	color: $accent-color;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	.field {
		margin: 5px 0px;
	}
	input[type='checkbox'] {
		margin-right: 10px;
		padding-bottom: 5px
	}
	input[type='text'] {
		width: 200px;
	}
}

.submit {
	margin-top: 25px;
	input {
		border: 2px solid $accent-color;
		background: none;
		font-size: 1.4rem;
		font-family: 'Abel', sans-serif;
		text-transform: uppercase;
		color: $accent-color;
		padding: 10px;
		letter-spacing: 3px;
		transition: 0.5s;
		&:hover{
			background:  $accent-color-2;
			color: $dark-background;
		}
		

	}
}

.bathrooms {
	margin-top: 25px;
	ul {
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		justify-content: space-between;
		padding: 0px;
	}
	li {
		border: 1px solid $accent-color;
		margin-top: 25px;
		width: 47%;
		padding: 10px;
		text-align: center;
	}
	h2 {
		font-family: 'Abel', sans-serif;
		text-transform: uppercase;
		font-size: 1.6rem;
		text-align: center;
		font-weight: 600;
	}
	p {
		color: $accent-color;
		font-family: 'Open Sans', serif;
		font-weight: 300;
		font-size: 1.2rem;
	}
	.address {
		font-family: 'Abel', san-serif;
		font-size: 1.4rem;
		text-align: center;
		margin: 0px 0px;
	}
	.descriptionPlaceholder {
		font-style: italic;
		font-family: 'Open Sans', sans-serif;
		color: $accent-color-2;
	}
}

footer {
	color: $accent-color;
	margin: 0 auto;
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 1rem;
	a {
		color: $accent-color-2;
	}
	img {
		width: 12px;
	}
}

.showMore {
	display: flex;
	justify-content: center;
}


@media (max-width: 770px) {
	.bathrooms {
		ul {
			justify-content: center;
		}
	}
}